{
  "swagger": "2.0",
  "info": {
    "description": "Manage the messages",
    "title": "Glimpse Service Message",
    "version": "1.0.0"
  },
  "host": "glimpse-service-message.endpoints.glimpse-123456.cloud.goog",
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/healthz": {
      "get": {
        "description": "Check the health of the service",
        "operationId": "healthz",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "schema": {
              "properties": {
                "status": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/feed": {
      "get": {
        "description": "Get the list of messages",
        "operationId": "Feed",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
          }
        }
      }
    },
    "/message": {
      "post": {
        "description": "Post a message",
        "operationId": "Post Message",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
          }
        }
      }
    },
    "/viewers/{message_id}": {
      "get": {
        "description": "Get the list of users who view this message",
        "operationId": "Viewers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "description": "ID of the message",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
          }
        }
      }
    },
    "/view/{message_id}": {
      "post": {
        "description": "Marks a message as viewed, and send the path",
        "operationId": "Viewed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "description": "ID of the message",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
          }
        }
      }
    },
    "/path/{message_id}/{user_id}": {
      "get": {
        "description": "Show the path of a user for this message",
        "operationId": "User view path",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "description": "ID of the message",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "firebase": {
      "authorizationUrl": "",
      "flow": "implicit",
      "type": "oauth2",
      "x-google-issuer": "https://securetoken.google.com/glimpse-123456",
      "x-google-jwks_uri": "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com",
      "x-google-audiences": ""
    }
  }
}