swagger: '2.0'
info:
  description: Manage the messages
  title: Glimpse Service Message
  version: 0.0.1-alpha
host: message.glimpse.online
basePath: /
consumes:
- application/json
produces:
- application/json
schemes:
- http
paths:

  "/healthz":
    get:
      description: Check the health of the service
      operationId: Healthz
      responses:
        200:
          description: Service is healthy
          schema:
            $ref: "#/definitions/SuccessResponse"

  "/message":
    post:
      description: Post a message
      operationId: PostMessage
      parameters:
      - in: body
        name: message
        description: Message posted
        required: true
        schema:
          $ref: "#/definitions/MessageParameters"
      responses:
        200:
          description: Message sent
          schema:
            $ref: "#/definitions/MessageSentResponse"

  "/feed":
    post:
      description: Get the list of messages
      operationId: GetFeed
      parameters:
      - in: body
        name: filter
        description: Filter
        required: true
        schema:
          $ref: "#/definitions/FeedFilterParameters"
      responses:
        200:
          description: Return the list of messages filtered by user
          schema:
            $ref: "#/definitions/FeedResult"

definitions:
  SuccessResponse:
    type: object
    properties:
      status:
        type: boolean
  MessageParameters:
    type: object
    properties:
      user_id:
        description: UserId of the sender
        type: string
      receiver_id:
        description: UserId of the receiver
        type: string
      audience:
        description: Audience of this message (direct | friends | public)
        type: string
      message:
        description: Text message
        type: string
      asset:
        $ref: "#/definitions/MessageAssetName"

  MessageAssetName:
    description: Information of the asset submitted
    type: object
    properties:
      asset_name:
        description: Name of the asset sent in the message
        type: string

  MessageSentResponse:
    type: object
    properties:
      status:
        type: boolean

  FeedFilterParamters:
    type: object
    required:
      - user_id
    properties:
      user_id:
        description: Select the user_id
        type: string

  FeedResult:
    type: object
    properties:
      tot:
        description: Number of messages
        type: integer
      feed:
        $ref: "#/definitions/FeedMessage"

  FeedMessage:
    type: object
    properties:
      sender_id:
        description: UserId of the sender
        type: string
      receiver_id:
        type: string
      time:
        description: Send time
        type: string
        format: dateTime
      message:
        description: Text of the message
        type: string
      audience:
        type: string
      asset_name:
        description: Name of the asset in the message
        type: string
      asset_url:
        description: URL of the asset in the message
        type: string


securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query

  firebase:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: "https://securetoken.google.com/glimpse-123456"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"